body{
    padding: 0;
    margin: 0 auto;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    background-color: black;
    background: #41295a; /* fallback for old browsers */
    background-color: -webkit-linear-gradient(to left, #41295a , #2F0743); /* Chrome 10-25, Safari 5.1-6 */
    background-color: linear-gradient(to left, #41295a , #2F0743); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*----------------------USER----------------------*/

.navigation_left{
    position: fixed;
    width:240px;
    min-height: 100vh;
    max-height: 100vh;
    background-color: black;
    color: white;
    z-index:1;
    box-shadow: -5px -10px 10px -10px white;
}

.navigation_left .user{
    position: relative;
    width: auto;
    height: auto;
    font-family: inherit;
    margin-top: 15px;
    display:block;
    
}

.navigation_left .user a{
    border-radius: 70px;
    width: 50%;
    margin: 0 auto;
    padding: 0;
    align-content: center;
    display:block;
}
.navigation_left .user img{
    border-radius: 75px;
    border:5px solid #41295a;
    width: 40%;
    margin: 0 auto;
    padding: 0;
    align-content: center;
    display:block;
    
}
.navigation_left .user p{
    position: relative;
    margin: 0 auto;
    padding: 0;
    display:inline-flex;
    flex-direction: row;
    margin-top: 20px;
    
}

.navigation_left .user p:first-child{
    margin-left: 60px;
}

.navigation_left .user .user_username{
    font-weight: 600;
} 

.navigation_left .navigation_items{
    position: absolute;
    display: flex;
    flex-flow: column;
    width: 100%;
    margin-top: 20px;

}
.navigation_left .navigation_items a{
    text-decoration: none;
    background-color: #41295a;
    width:100%;
    color: inherit;
}


.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
    background-color: #41295a;
    margin: 5px 0 10px 0;
    padding: 5px;
}


.hvr-underline-from-center img{
    width:30px;
    background-color:#41295a; 
    z-index: -1;
    
}
.hvr-underline-from-center p{
    position: absolute;
    width: 100%;
    height: 42px;
    top:-23px;
    left:-0px;
    z-index: 1;
    text-align: center;
    font-size: 24px;
    
    
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.navigation_left .movie_watching{
    position: relative;
    top:200px !important;
    text-align: center;
}

.navigation_left .movie_information{
    position: relative;
    top:200px !important;
    text-decoration: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
}

.navigation_left .movie_information .homepage{
    display: block;
    width:240px;
}

.navigation_left .movie_information .homepage a{
    display: inline-flex;
    flex-direction: row;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.navigation_left .movie_information .homepage a i{
    margin: 15px 20px;
}
.navigation_left .movie_information .vote_average{
    display: inline-flex;
    flex-direction: row;
    width:240px;
    font-size: 24px;
}
.navigation_left .movie_information .vote_average i{
    position: relative;
    width: 30px;
    margin:27px 20px 20px 55px;
}


/*---------------------!USER----------------------*/

/*----------------------MOVIE---------------------*/
.movielist{
    position: absolute;
    width: 70%;
    min-width: 0%;
    height: 100%;
    height: 100%;
    display: block;
    margin:0 400px;
}

.movie{
    position: relative;
    top:120px;
    display:block;
    height: 260px;
    min-width:400px;
    max-width:400px;
    padding: 0px 0px 0px 0px;
    margin: 0 10px 10px 10px;
    padding: 10px;
    text-decoration: none;
    float:left;
    background-color: rgba(198, 198, 198, 0.18);
    
}
.movie .movie_data{
    position: relative;
    max-width: 50%;
    width:60%;
    left:200px;
    top:-310px;
    color:white;
    
}

.movie .title p:first-child{
    position: relative;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
    width:100%;
    font-size: 30px;
    top:10px;
}

.movie .title p:last-child{
    position: relative;
    display: block;
    width: 100%;
    top:-15px;

}
.movie .movieinfo{
    width:80%;
    height: 100px;
    color:white;
}
.movie .movieinfo p:first-child{
    position: relative;
    height: 20px;
    width:80%;
}

.movie .movieinfo p:last-child{
    overflow:hidden;
    white-space: pre-wrap;
    height: 50px;
    width:80%;
}

.movie:hover{
    background-color: rgba(0, 167, 255, 0.55);
    cursor: pointer;
}
.movie img{
    position: relative;
    width:186.5px;
}

.movie .poster{
    position: relative;
    width:186.5px;
    min-width:186.5px;
    max-width:186.5px;
    height: 280px;
    top:-10px;
    left:-10px;

}
.movie:hover > .poster{
}

.movie .poster .gradient{
    position: relative;
    width:15px;
    height: 100%;
    left: 186px;
    top:-284px;
}

/*---------------------!MOVIE---------------------*/

/*----------------------PLAY----------------------*/

.content_wrapper{
    position:absolute;
    height: auto;
    left:239px;
    margin-left: auto;
    width: 87.5%;
    
}

.content_wrapper .play_movie_header{
    position:relative;
    display:block;
    height: 190px;
    width: 100%;
    overflow: hidden;
    
}

.content_wrapper .play_movie_header img{
    position: relative;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    display: block;
    width: 100% !important;
   
}

.content_wrapper .movie_information{
    position: relative;
    color:white;
    margin: 30px;
}
.content_wrapper .movie_information  h1{
    position: relative;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.content_wrapper .movie_information  p{
    
}
.content_wrapper .movie_information  p:last-child{
    
}
#my-video{
    position: relative;
    margin: 0 auto;
    padding: 0;
    top:50px;
    width:800px;
    height: 400px;
}

/*---------------------!PLAY----------------------*/

/*---------------------PROFILE----------------------*/

.user_profile{
    position: absolute;
    width: 80%;
    left:300px;
    top:100px;
}
/*---------------------!PROFILE----------------------*/