<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MovieDB_Windows_app.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MovieDB_Windows_app.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MovieDB_Windows_app.Properties.Settings>
            <setting name="MovieData" serializeAs="String">
                <value />
            </setting>
            <setting name="GenreData" serializeAs="String">
                <value />
            </setting>
            <setting name="ImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="DataPath" serializeAs="String">
                <value />
            </setting>
            <setting name="WEBport" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="WEBDir" serializeAs="String">
                <value>streaming</value>
            </setting>
            <setting name="WEBip" serializeAs="String">
                <value>31.15.206.170</value>
            </setting>
        </MovieDB_Windows_app.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <MovieDB_Windows_app.Properties.Settings>
      <setting name="APIip" serializeAs="String">
        <value>31.15.206.170</value>
      </setting>
      <setting name="APIport" serializeAs="String">
        <value>53851</value>
      </setting>
    </MovieDB_Windows_app.Properties.Settings>
  </applicationSettings>
</configuration>