<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AS.Video.Core" version="1.0.3" targetFramework="net452" />
  <package id="AS.Video.Sources.OpenCv" version="1.0.0.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="Streamcoders.MediaSuite.x86" version="4.0.1058.0" targetFramework="net452" />
  <package id="Vlc.DotNet.Core" version="2.1.124" targetFramework="net452" />
  <package id="Vlc.DotNet.Core.Interops" version="2.1.124" targetFramework="net452" />
  <package id="Vlc.DotNet.Forms" version="2.1.124" targetFramework="net452" />
  <package id="Vlc.DotNet.Wpf" version="2.1.124" targetFramework="net452" />
</packages>