
body {
    background-color: #191a1a;
    /*--background-image:url("background/pattern-13.jpg");--*/
    max-width: 100%;
    min-width: 30%;
    max-height: 100%;
    margin:0px;
    padding:0px;
    
    /*background-image: url(../assets/background_rep/dark_stripes.png);*/
}
.clearfix:after {
    display:block;
    clear:both;
}


 @font-face {
    font-family: 'Ek-Mukta'; /*a name to be used later*/
    src: url('http://fonts.gstatic.com/s/ekmukta/v7/bd9w3t1zRrt_-4XQNqfNJPesZW2xOQ-xsNqO47m55DA.woff2'); /*URL to font*/
}

 .logo_wrap{
     position:relative;
     display:inline-table;
     font-weight:bold;
     font-family:Ek-Mukta;
     margin-left: 25%;
     margin-right: 25%;
 }
 .a_logo{
     top:-5px;
     color:white;
 }
 .logo_wrap .img_logo{
     width:30px;
 }
/* ----- Movie Div ----- */
.video_div{
    position: fixed;
    text-align: center;
}

/*----- Local Movies ---- */
.wrap_movie_list_div{
    position:relative;
    margin-top: 50px;
    height: auto;
    font-family: "Ek-Mukta";
    font-size: 10px;
    margin-left: 15%;
    margin-right: 15%;
    
}

.movie_info_div{
    width:110px;
    height: auto;
    text-align: center;
    display:inline-table; margin-bottom:25px; padding:5px;
    
    
}
.movie_info_div .local_movie_poster_img{
    border-top-left-radius:7px;
    border-top-right-radius: 7px;
    width:100px;
    height:120px;
    margin-top: 0px;
}
.local_movie_wrap{
    width: 100px;
    height: 160px;
    margin: 0 auto;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
}
.local_movie_wrap:hover{
    transition:all linear 0.20s;
    cursor:pointer;
    background-color:rgba(60, 255, 24, 0.56)
}

.local_movie_DBtitle_wrap{
    font-weight: bold;
    
}

.local_movie_DBtitle_less_wrap{
    font-weight: bold;
     word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.local_movie_DBid_hidden_wrap{
    display:none;
}

.local_movie_ServerLocation_hidden_wrap{
    display: none;
}
